@model SelfControlDiary.Models.PhysicalDiary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhysicalDiary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Physicals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Physicals.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Min)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kall)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
