@model IEnumerable<SelfControlDiary.Models.People>
@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="FoodDiaries" asp-action="Index">Дневник питания</a> |
<a asp-controller="PhysicalDiaries" asp-action="Index">Дневник тренировок</a> |
<a asp-controller="SleepDiaries" asp-action="Index">Дневник сна</a>
<h2>Уровень активности</h2>
<p>
    Разделяют пять типов физической активности: минимальный (никаких физических нагрузок), низкий (физические нагрузки 1-3 раза в неделю),<br />
    средний (3-5 дней в неделю), высокий (6-7 раз в неделю), очень высокий (тренировки чаще, чем раз в день).<br />
    Для определения полной потребности организма в энергии и калориях нужно умножить BMR, соответствующий вашему полу,<br /> 
    возрасту и весу, на коэффициент, определяемый в зависимости от вашего уровня физической активности в рамках недели:<br />
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Пол</th>
            <th scope="col">Возраст</th>
            <th scope="col">Рост</th>
            <th scope="col">Вес</th>
            <th scope="col">Уровень активности</th>
            <th scope="col">BMR</th>
            <th scope="col">Норма каллорий</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Sexs.Value)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.height)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.weight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Activs.Value)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BMR)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Norma)
    </td>
    <td>
        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id })
    </td>
</tr>
    }
</table>
<p>За сегодняшний день вы потратили @ViewBag.kallsA, получили @ViewBag.kallsF каллорий, итого вам осталось потребить @ViewBag.kallsR до вашей нормы каллорий</p>